name: Android CI
on: [push]
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
    - name: Build APK
      run: ./gradlew assembleRelease
    - uses: softprops/action-gh-release@v2
      with:
        tag_name: auto-${{ github.run_number }}
        name: RedTeamApp Build ${{ github.run_number }}
        files: app/build/outputs/apk/release/app-release.apk
