name: Build Release APK
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
    - run: echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > release.jks
    - run: chmod +x gradlew
    - run: ./gradlew assembleRelease
    - uses: actions/upload-artifact@v4
      with:
        name: release-apk
        path: app/build/outputs/apk/release/*.apk
